.Bookstore-CMS {
  color: #0290ff;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 2.313rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0.375rem 2.938rem 0.125rem 0;
  width: 15rem;
}
